
$bgColorDarkMode: #222222;
$gfColorDarkMode: #afafaf;
$txtColorDarkMode:#e0e0e0;
$errColor:rgba(226, 1, 1, 0.637);
$filterValueDarkMode:75%;
$font:'GruppoRegular';
$fontSizeTitolo:4rem;
$fontSizeParagrafo:1rem;

@font-face {
    font-family: 'GruppoRegular';
    src: url(../font/GruppoRegular.ttf);
}
